@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    overflow: auto;
    

}


.header {
    background-color: #1F2937;
    font-size: 18px;
    display: flex;
    padding: 10px 180px;
    font-family: "Roboto";
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    font-size: 18px;
    
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
    
    
}

.right-links{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    font-family: "Roboto";

    padding: 100px 180px;
    
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.content {
    font-size: 18px;
    color:#E5E7EB;
}

.image {
    background-color: gray;
    color: #E5E7EB;
    padding: 120px;
}
.left {
    width: 450px;
    flex-wrap: wrap;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 5px 30px;
}


.information-header {
    
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    
    padding: 30px;
}



.img-placeholder {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border-style: solid;
    border-color: #3882f6;
 
}





.information-row {
    display: flex;
    justify-content: center;
    gap:50px ;
    padding-bottom: 50px;
    
}

.text {
    text-align: center;
    max-width: 150px;
    padding-top: 5px;
    color: gray;
    font-size: 16px;

  
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px;
}

.quote-content {

font-size: 36px;
font-weight: lighter;
color: #1f2937;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;

}

.author {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    
}

.cta-section {
    display: flex;
    
    background-color: white;
    margin: 100px 100px;
    justify-content: center;
    
}

.cta-container {
    display: flex;
    background-color: #3882f6;
    max-width: 800px;
    padding: 50px 100px;
    justify-content: space-between;
    

  border-radius: 5px;
    border-style: solid;
    border-color: #3882f6; 
    gap: 150px;
}

.cta-header {
    font-weight: bold;
}

.cta-button {
    width: fit-content;
    background-color: #3882f6;
    color: #f9faf8;
    border-style: solid;
    border-color: #F9FAF8;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    padding: 0px 30px ;
    border-width: thin;
}

.cta-left {
    color: #F9FAF8;
}

.cta-subtext {
    color: #E5E7EB;
}

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 20px;
}

.footer-text {
    color: #E5E7EB;
    display: flex;
    font-size: 16px;
}