body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    

}

/* .container {
    display: flex;
    padding: 20px;
   
} */

.header {
    background-color: #1F2937;
    font-size: 18px;
    display: flex;
    padding: 10px 180px;
    font-family: "Roboto";
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    font-size: 18px;
    
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
    
    
}

.right-links{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    font-family: "Roboto";

    padding: 100px 180px;
    
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.content {
    font-size: 18px;
    color:#E5E7EB;
}

.image {
    background-color: gray;
    color: #E5E7EB;
    padding: 120px;
}
.left {
    width: 450px;
    flex-wrap: wrap;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 5px 30px;
}


